*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav, ul, a{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
    margin-top: 15px;
    margin-left: 20px;
    color: #000000;
}

button{
    width: 124px;
    height: 51px;
    background-color: #6FBF44;
    border: none;
    border-radius: 6px;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}

.container{
    display: flex;
    gap: 50px;
}

.container-image, img{
    justify-content: flex-start;
    margin-top: 35px;
    margin-left: 50px;
}

.infos{
    margin-top: 200px;
    margin-left: 50px;
}

h1{
    font-size: 62px;
}

.infos p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px;
}

.infos a{
    font-weight: 500 medium;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    margin-left: -4px;
}